<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="Directorio" value="D:\\LogsOctano\\" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="idAplicacion" value="63" />
    <add key="CorreoAdministradorOpcional" value="ezarate@anh.gob.bo" />
    <add key="CorreoAdministrador" value="lcanqui@anh.gob.bo" />
    <add key="IdFuncionarioAnh" value="63" />
    <add key="IdRegulado" value="2" />
    <add key="IdPerfilAdministradorHydro" value="255" />
    <!--<add key="IdTipoActividad" value="30"/>-->
    <add key="LinkSireHydro" value="http://hydro.anh.gob.bo:7080/" />
    <add key="CorreoServidor" value="172.17.20.14" />
    <add key="CorreoPuerto" value="25" />
    <add key="CorreoDe" value="sistemas@anh.gob.bo" />
    <add key="CorreoCco" value="jpflores@anh.gob.bo, rangulo@anh.gob.bo" />
    <!-- Parametro de unidades de medida-->
    <add key="PoderCalorifico" value="BTU/MMPC,BTU/PC" />
    <add key="Glp" value="BBL/MMPCD,BBL/MMMCD" />
    <add key="Volumen" value="MMPCD,MMMCD" />
    <add key="PuntoRocio" value="°F" />
    <add key="ProduccionGlp" value="TMD,MCD" />
    <add key="ProduccionPropano" value="TMD,MCD" />
    <add key="RendimientoProduccionGlp" value="% vol" />
    
    <add key="GasCombustible" value="MMPCD,MMMCD" />
    <add key="EntregaConsumoPropano" value="MMPCD,MMMCD" />
    <add key="QuemaGas" value="MMPCD,MMMCD" />
    <add key="EntregaConsumoPropano" value="TMD,MCD" />
    <add key="EntregaGlpCisterna" value="TMD,MCD" />
    <add key="EntregaGlpDucto" value="TMD,MCD" />
    <add key="SaldoGlp" value="Tm,m3" />
    <add key="SaldoPropano" value="Tm,m3" />
    <add key="Temperatura" value="°F" />
    <add key="GasolinaNatural" value="BPD" />
    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime maxRequestLength="4000000" executionTimeout="120000"/>
    
    <httpHandlers>
      <add path="*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*"/>
    </httpHandlers>
  <!--<httpRuntime executionTimeout="240" maxRequestLength="20480" />-->
  </system.web>
  
    <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add path="*" name="ServiceStack.Factory" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true"/>
    </handlers>
  </system.webServer>
  
   <connectionStrings>
    <add name="EntidadesOctano" connectionString="metadata=res://*/Core.ModeloOctano.csdl|res://*/Core.ModeloOctano.ssdl|res://*/Core.ModeloOctano.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;data source=172.17.20.141:1751/ANH;password=appcantcal.234m;user id=APP_CANTCAL&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <oracle.dataaccess.client>
    <settings>
      <!--REPORTES-->
      <add name="APP_CANTCAL.PUSR_REPORTES.P_REPORTE_REGISTRO_CALIDAD.RefCursor.O_REPORTE_REG_CALIDAD_CTY" value="implicitRefCursor bindinfo='mode=Output'" />
      
      <!--LISTADOS-->
      <add name="APP_CANTCAL.PUSR_LISTADOS.P_LISTADO_CATALOGO_CALIDAD.RefCursor.O_CATALOGO_CALIDAD_CTY" value="implicitRefCursor bindinfo='mode=Output'" />

      <!--GESTION-->
      <add name="APP_CANTCAL.PUSR_REFINERIAS.P_REGISTRO_CERTIFICADOS_WS.RefCursor.O_REG_IN_REPORTE_PLANO_CTY" value="implicitRefCursor bindinfo='mode=Output'"/>
      
    </settings>
  </oracle.dataaccess.client>
</configuration>