.dxtlControl_DevGlp
{
	cursor: default;
	font: 10px Century Gothic;
	color: #201f35;
	border: 1px solid #9da0aa;
	background: White url('CssImages/ControlBack.png') no-repeat right bottom;
}
.dxtlControl_DevGlp caption
{
	font-weight: normal;
	color: #201f35;
	padding: 3px 3px 5px;
	text-align: center;
	background: #f2f3f4 url('CssImages/TitleBack.png') repeat-x left top;
	border-bottom: 0 solid #cacbd3;
	border: 1px solid #cacbd3;
}

/* Indent cells */
.dxtlIndent_DevGlp,
.dxtlIndentWithButton_DevGlp
{
	background: Transparent none;
	vertical-align: top;
}
.dxtlIndent_DevGlp
{
	padding: 0 11px;
}
.dxtlIndentWithButton_DevGlp
{
	padding: 4px 5px;
}
.dxtlSelectionCell_DevGlp
{
	border-width: 0;
}

/* Tree-lines cells */
.dxtlLineRoot_DevGlp,
.dxtlLineFirst_DevGlp,
.dxtlLineMiddle_DevGlp,
.dxtlLineLast_DevGlp,
.dxtlLineFirstRtl_DevGlp,
.dxtlLineMiddleRtl_DevGlp,
.dxtlLineLastRtl_DevGlp
{
	background-color: Transparent;
}

.dxtlIndent_DevGlp,
.dxtlIndentWithButton_DevGlp
{
	background-color: Transparent;
}

/* Headers */
.dxtlHeader_DevGlp,
.dxtlControl_DevGlp .dxtlHSDC 
{
    background: #f2f3f4 url('CssImages/HeaderBack.png') repeat-x left top;
}
.dxtlHeader_DevGlp
{
	border: 1px solid #cacbd3;
	padding: 5px 6px;
	font-weight: normal;
	color: #201f35;
}
.dxtlHeader_DevGlp table.dxtl
{
	border-collapse: collapse;
	width: 100%;
}
.dxtlHeader_DevGlp td.dxtl
{
	padding: 0;
}
.dxtlHeader_DevGlp,
.dxtlHeader_DevGlp td.dxtl
{
	white-space: nowrap;
	text-align: left;
	overflow: hidden;
}

/* Nodes */
.dxtlNode_DevGlp
{
	background: Transparent none;
}
.dxtlAltNode_DevGlp td.dxtl,
.dxtlAltNode_DevGlp .dxtlCommandCell_DevGlp,
.dxtlAltNode_DevGlp .dxtlSelectionCell_DevGlp
{
	background: url('CssImages/AltBack.png') left top;
}
.dxtlSelectedNode_DevGlp td.dxtl,
.dxtlSelectedNode_DevGlp .dxtlCommandCell_DevGlp,
.dxtlSelectedNode_DevGlp .dxtlSelectionCell_DevGlp
{
	background: #eff0f2 none;
	color: #201f35;
}
.dxtlFocusedNode_DevGlp td.dxtl,
.dxtlFocusedNode_DevGlp .dxtlCommandCell_DevGlp,
.dxtlFocusedNode_DevGlp .dxtlSelectionCell_DevGlp
{
	background: #dde6fd url('CssImages/FocusedBack.png') repeat-x left top;
	color: #201f35;
}
.dxtlAltNode_DevGlp .dxtlIndent_DevGlp,
.dxtlSelectedNode_DevGlp .dxtlIndent_DevGlp,
.dxtlFocusedNode_DevGlp .dxtlIndent_DevGlp
{
	background: Transparent none;
}
.dxtlInlineEditNode_DevGlp
{
	background: Transparent none;
}
.dxtlEditFormDisplayNode_DevGlp td.dxtl,
.dxtlEditFormDisplayNode_DevGlp .dxtlCommandCell_DevGlp,
.dxtlEditFormDisplayNode_DevGlp .dxtlSelectionCell_DevGlp
{
	background: #f9f9fc none;
}

.dxtlNode_DevGlp td.dxtl,
.dxtlAltNode_DevGlp  td.dxtl,
.dxtlSelectedNode_DevGlp td.dxtl,
.dxtlFocusedNode_DevGlp td.dxtl,
.dxtlEditFormDisplayNode_DevGlp td.dxtl,
.dxtlCommandCell_DevGlp
{
	padding: 4px 6px;
	border-width: 0;
	white-space: nowrap;
	overflow: hidden;
}
.dxtlHeader_DevGlp .dxbButton_DevGlp,
.dxtlCommandCell_DevGlp .dxbButton_DevGlp
{
    margin: -2px 2px;
}
.dxtlHeader_DevGlp .dxbButton_DevGlp .dxb,
.dxtlCommandCel_DevGlp .dxbButton_DevGlp .dxb
{
	padding-top: 0;
    padding-bottom: 0;
}
.dxtlEditFormDisplayNode_DevGlp td.dxtl,
.dxtlEditFormDisplayNode_DevGlp td.dxtl__cc
{
	border-bottom: 1px solid #d9dae0;
}
.dxtlInlineEditNode_DevGlp td.dxtl
{
	border-width: 0;
	padding: 1px;
}

/* Preview */
.dxtlPreview_DevGlp
{
	background: url('CssImages/PreviewBack.png') left top;
	color: #777777;
	padding: 14px;
	border-width: 0;
	overflow: hidden;
}

/* Footers */
.dxtlGroupFooter_DevGlp td.dxtl,
.dxtlFooter_DevGlp td.dxtl,
.dxtlControl_DevGlp .dxtlFSDC 
{
    background-color: #f9f9fc;
}
.dxtlGroupFooter_DevGlp td.dxtl,
.dxtlFooter_DevGlp td.dxtl
{
	padding: 6px;
	white-space: nowrap;
	border-top: 1px solid #e1e1e9;
	border-right: 1px solid #e1e1e9;
	border-bottom: 1px solid #e1e1e9;
	border-left-color: #e1e1e9;
	border-left-style: solid;
	border-left-width: 0!important;
	overflow: hidden;
}
.dxtlGroupFooter_DevGlp .dx-ar > br,
.dxtlFooter_DevGlp .dx-ar > br
{
    float: none; 
}

/* Pagers */
.dxtlPagerTopPanel_DevGlp,
.dxtlPagerBottomPanel_DevGlp
{
	background: #f1f2f6 url('CssImages/PagerBack.png') left top;
}
.dxtlPagerTopPanel_DevGlp
{
	border-bottom: 1px solid #cacbd3;
}
.dxtlPagerBottomPanel_DevGlp
{
	border-top: 1px solid #cacbd3;
}

/* Editing */
.dxtlEditForm_DevGlp
{
	background: #f9f9fc none;
	border-width: 0;
	padding: 8px 10px 10px;
}
.dxtlEditFormCaption_DevGlp,
.dxtlEditFormEditCell_DevGlp
{
	padding: 4px;
}
.dxtlEditFormCaption_DevGlp
{
	padding-left: 10px;
	white-space: nowrap;
}
.dxtlError_DevGlp
{
	background-color: #ebecef;
	color: #ba1717;
	padding: 6px 10px;
	border-width: 0;
}
.dxtlPopupEditForm_DevGlp
{
	padding: 12px;
}

/* Links */
.dxtlControl_DevGlp a
{
	color: #1b3f91;
	text-decoration: none;
}
.dxtlControl_DevGlp a:hover
{
	text-decoration: underline;
}

.dxtlSelectedNode_DevGlp a,
.dxtlFocusedNode_DevGlp a
{
	color: #1b3f91;
	text-decoration: none;
}
.dxtlSelectedNode_DevGlp a:hover,
.dxtlFocusedNode_DevGlp a:hover
{
	text-decoration: underline;
}
.dxtlCommandCell_DevGlp a
{
	margin-right: 3px;
}

/* Loading panel */
.dxtlLoadingPanel_DevGlp
{
	font: 10px Century Gothic;
	color: #201f35;
	background-color: White;
	border: 1px solid #9da0aa;
}
.dxtlLoadingPanel_DevGlp td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 7px 10px;
}
.dxtlLoadingPanel_DevGlp .dxlp-loadingImage
{
	background-image: url('../Web/Loading.gif');
	height: 32px;
	width: 32px;
}

/* Disabled */
.dxtlDisabled_DevGlp,
.dxtlDisabled_DevGlp .dxtl
{
	color: #b1b1b8;
	cursor: default;
}
