.dxCardView_gvFilterRowButton_DevGlp,
.dxCardView_gvHeaderFilter_DevGlp,
.dxCardView_gvHeaderFilterActive_DevGlp,
.dxCardView_gvHeaderSortDown_DevGlp,
.dxCardView_gvHeaderSortUp_DevGlp
{
    background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxCardView_gvFilterRowButton_DevGlp
{
    background-position: 0px -32px;
    width: 13px;
    height: 13px;
}
.dxCardView_gvHeaderFilter_DevGlp
{
    background-position: 0px -16px;
    width: 15px;
    height: 15px;
}
.dxCardView_gvHeaderFilterActive_DevGlp
{
    background-position: 0px 0px;
    width: 15px;
    height: 15px;
}
.dxCardView_gvHeaderSortDown_DevGlp
{
    background-position: 0px -46px;
    width: 7px;
    height: 5px;
}
.dxCardView_gvHeaderSortUp_DevGlp
{
    background-position: -8px -46px;
    width: 7px;
    height: 5px;
}

