<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="EntidadesOctano" connectionString="metadata=res://*/Core.ModeloOctano.csdl|res://*/Core.ModeloOctano.ssdl|res://*/Core.ModeloOctano.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;data source=172.17.20.159:1751/ANH;password=appcantcal.234m;persist security info=True;user id=APP_CANTCAL&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <oracle.dataaccess.client>
    <settings>
      <!--CONSULTAS-->
      <add name="APP_CANTCAL.PTRA_REPORTES.P_REPORTE_OLEOGASODUCTO.RefCursor.O_OLEODUCTO_CTY" value="implicitRefCursor bindinfo='mode=Output'" />
      <add name="APP_CANTCAL.PUSR_LISTADOS.P_LIST_CALIDAD_UBIC.RefCursor.O_PRUEBAS_CALIDAD_UBIC" value="implicitRefCursor bindinfo='mode=Output'" />
      <add name="APP_CANTCAL.PUSR_LISTADOS.P_LIST_PRUEBAS_TESPEC_UBIC.RefCursor.O_PRUEBAS_CALIDAD_CTY" value="implicitRefCursor bindinfo='mode=Output'" />
      <add name="APP_CANTCAL.PUSR_REFINERIAS.P_REG_REPORTE_CARBURANTES_ID.RefCursor.O_REG_IN_REPORTE_PLANO_CTY" value="implicitRefCursor bindinfo='mode=Output'" />
      <add name="APP_CANTCAL.PUSR_REFINERIAS.P_LISTADO_MEDIO_TRANSPORTE.RefCursor.O_REF_MEDIO_TRANSPORTE_CTY" value="implicitRefCursor bindinfo='mode=Output'" />
      <add name="APP_CANTCAL.PUSR_REFINERIAS.P_LISTADO_PRODUCTOS.RefCursor.O_REF_CATALOGO_PRODUCTOS_CTY" value="implicitRefCursor bindinfo='mode=Output'" />
      <add name="APP_CANTCAL.PUSR_REFINERIAS.P_LISTADO_METODO_ASTM_CALIDAD.RefCursor.ASTM_PRUEBA_CALIDAD" value="implicitRefCursor bindinfo='mode=Output'" />
      <add name="APP_CANTCAL.PUSR_REFINERIAS.P_LISTADO_TANQUES.RefCursor.LISTA_TANQUE_ENTIDAD" value="implicitRefCursor bindinfo='mode=Output'" />
      <add name="APP_CANTCAL.PUSR_REFINERIAS.P_LISTADO_TABLAS_CALIDAD.RefCursor.LISTA_TABLAS_CALIDAD" value="implicitRefCursor bindinfo='mode=Output'" />
      <add name="APP_CANTCAL.PUSR_REFINERIAS.P_LISTADO_PRUEBA_CALIDAD.RefCursor.LISTA_PRUEBAS_CALIDAD" value="implicitRefCursor bindinfo='mode=Output'" />
      <add name="APP_CANTCAL.PCAN_LISTADOS.P_LISTADO_TIPOS_OPERACION.RefCursor.O_VOL_TIPOS_OPERACION_CTY" value="implicitRefCursor bindinfo='mode=Output'" />
      <add name="APP_CANTCAL.PCAN_LISTADOS.P_LISTADO_TIPOS_REPORTE.RefCursor.O_TIPOS_REPORTE_CTY" value="implicitRefCursor bindinfo='mode=Output'" />
      <add name="APP_CANTCAL.PCAN_LISTADOS.P_LISTADO_TIPOS_REGISTRO.RefCursor.O_TIPOS_REGISTRO_CTY" value="implicitRefCursor bindinfo='mode=Output'" />
      <add name="APP_CANTCAL.PCAN_LISTADOS.P_LISTADO_TABLA_ESPEC_PRODUCTO.RefCursor.O_PRODUCTO_ESPEC_CTY" value="implicitRefCursor bindinfo='mode=Output'" />
      <add name="APP_CANTCAL.PCAN_LISTADOS.P_LISTADO_TIPO_MEDIO_TRANSPORT.RefCursor.O_LISTA_TIPO_MEDIO_TRANS_CTY" value="implicitRefCursor bindinfo='mode=Output'" />
      <add name="APP_CANTCAL.PUSR_GESTION.P_REGISTRA_CANTIDADES.RefCursor.O_RESULTADO_CTY" value="implicitRefCursor bindinfo='mode=Output'" />
      <add name="APP_CANTCAL.PCAN_LISTADOS.P_LISTADO_PRUEBA_UNIDAD.RefCursor.O_PRUEBA_UNIDAD_CALIDAD_CTY" value="implicitRefCursor bindinfo='mode=Output'" />
      <add name="APP_CANTCAL.PUSR_LISTADOS.P_LISTADO_UNIDADES_PRU_CA.RefCursor.O_UNIDADES_MEDIDA_CTY" value="implicitRefCursor bindinfo='mode=Output'" />
      <add name="APP_CANTCAL.PCAN_LISTADOS.P_FECHA_ULTIMO_REPORTE.RefCursor.O_FECHA_ULTIMO_REPORTE_CTY" value="implicitRefCursor bindinfo='mode=Output'" />
      <add name="APP_CANTCAL.PUSR_LISTADOS.P_LISTADO_PRODUCTOS.RefCursor.O_PRODUCTOS_CTY" value="implicitRefCursor bindinfo='mode=Output'" />
      <add name="APP_CANTCAL.PUSR_GESTION.P_REGISTRA_REPORTE_CALIDAD.RefCursor.O_RESULTADO_CTY" value="implicitRefCursor bindinfo='mode=Output'" />
      <add name="APP_CANTCAL.PUSR_GESTION.P_REGISTRA_REPORTE_PRINCIPAL.RefCursor.O_RESULTADO_CTY" value="implicitRefCursor bindinfo='mode=Output'" />
      <add name="APP_CANTCAL.PCAN_GESTION.P_REGISTRA_CANTIDADES_CAMPO.RefCursor.O_RESULTADO_CTY" value="implicitRefCursor bindinfo='mode=Output'" />
      <add name="APP_CANTCAL.PCAN_LISTADOS.P_LISTADO_PRODE.RefCursor.O_LISTA_PRODE_CTY" value="implicitRefCursor bindinfo='mode=Output'" />
      <add name="APP_CANTCAL.PCAN_CATALOGOS.P_MATRIZ_PRUEBAS.RefCursor.O_MATRIZ_PRUEBAS" value="implicitRefCursor bindinfo='mode=Output'" />
      <add name="APP_CANTCAL.PUSR_LISTADOS.P_LISTADO_UNIDADES_MEDIDA_GRAL.RefCursor.O_UNIDADES_MEDIDA_GRAL_CTY" value="implicitRefCursor bindinfo='mode=Output'" />
      <add name="APP_CANTCAL.PUSR_LISTADOS.P_LISTADO_PRODUCTO_ESPEC.RefCursor.O_PRODUCTO_ESPEC_CTY" value="implicitRefCursor bindinfo='mode=Output'" />
      <add name="APP_CANTCAL.PUSR_LISTADOS.P_LISTADO_PRUEBAS_TESPEC_FORM.RefCursor.O_TABLA_ESPEC_FORMULARIO_CITY" value="implicitRefCursor bindinfo='mode=Output'" />
      <add name="APP_CANTCAL.PUSR_LISTADOS.P_LISTADO_TIPO_PROD_CAL.RefCursor.O_PROD_ESPEC_PACL_CTY" value="implicitRefCursor bindinfo='mode=Output'" />
      <add name="APP_CANTCAL.PUSR_LISTADOS.P_LISTADO_PROD_CAL.RefCursor.O_PROD_CAL_CTY" value="implicitRefCursor bindinfo='mode=Output'" />
      <add name="APP_CANTCAL.PUSR_GESTION.P_REGISTRA_CALIDAD_CARB.RefCursor.O_REF_REG_REPORTE_PLANO_CTY" value="implicitRefCursor bindinfo='mode=Output'" />
      <add name="APP_CANTCAL.PUSR_GESTION.P_ELIMINA_CALIDAD.RefCursor.O_RESULTADO_CTY" value="implicitRefCursor bindinfo='mode=Output'" />
      <add name="APP_CANTCAL.PUSR_GESTION.P_ACTUALIZA_CALIDAD_CARB.RefCursor.O_RESULTADO_CTY" value="implicitRefCursor bindinfo='mode=Output'" />
      <add name="APP_CANTCAL.PUSR_GESTION.P_DIRECCION_PARA_REPORTE.RefCursor.O_RESULTADO_NUMBER_CTY" value="implicitRefCursor bindinfo='mode=Output'" />
      <add name="APP_CANTCAL.PUSR_LISTADOS.P_LISTADO_TANQUES_POR_ENTIDAD.RefCursor.O_LISTA_TANQUE_ENTIDAD_CTY" value="implicitRefCursor bindinfo='mode=Output'" />
      <add name="APP_CANTCAL.PUSR_LISTADOS.P_LISTADO_UM_CANT_CAL.RefCursor.O_UM_CANT_CAL_CTY" value="implicitRefCursor bindinfo='mode=Output'" />
	  <add name="APP_CANTCAL.PUSR_REPORTES.P_REPORTE_CALIDAD.RefCursor.O_REPORTE_CALIDAD" value="implicitRefCursor bindinfo='mode=Output'" />
	  
    </settings>
  </oracle.dataaccess.client>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>