.dxGridView_gvCellError_DevGlp,
.dxGridView_gvCMClearFilter_DevGlp,
.dxGridView_gvCMClearFilterDisabled_DevGlp,
.dxGridView_gvCMClearGrouping_DevGlp,
.dxGridView_gvCMClearGroupingDisabled_DevGlp,
.dxGridView_gvCMCollapseDetailRow_DevGlp,
.dxGridView_gvCMCollapseDetailRowDisabled_DevGlp,
.dxGridView_gvCMCollapseRow_DevGlp,
.dxGridView_gvCMCollapseRowDisabled_DevGlp,
.dxGridView_gvCMDeleteRow_DevGlp,
.dxGridView_gvCMDeleteRowDisabled_DevGlp,
.dxGridView_gvCMEditRow_DevGlp,
.dxGridView_gvCMEditRowDisabled_DevGlp,
.dxGridView_gvCMExpandDetailRow_DevGlp,
.dxGridView_gvCMExpandDetailRowDisabled_DevGlp,
.dxGridView_gvCMExpandRow_DevGlp,
.dxGridView_gvCMExpandRowDisabled_DevGlp,
.dxGridView_gvCMFullCollapse_DevGlp,
.dxGridView_gvCMFullCollapseDisabled_DevGlp,
.dxGridView_gvCMFullExpand_DevGlp,
.dxGridView_gvCMFullExpandDisabled_DevGlp,
.dxGridView_gvCMGroupByColumn_DevGlp,
.dxGridView_gvCMGroupByColumnDisabled_DevGlp,
.dxGridView_gvCMNewRow_DevGlp,
.dxGridView_gvCMNewRowDisabled_DevGlp,
.dxGridView_gvCMRefresh_DevGlp,
.dxGridView_gvCMRefreshDisabled_DevGlp,
.dxGridView_gvCMSearchPanel_DevGlp,
.dxGridView_gvCMSearchPanelDisabled_DevGlp,
.dxGridView_gvCMShowCustomizationWindow_DevGlp,
.dxGridView_gvCMShowCustomizationWindowDisabled_DevGlp,
.dxGridView_gvCMShowFilterEditor_DevGlp,
.dxGridView_gvCMShowFilterEditorDisabled_DevGlp,
.dxGridView_gvCMShowGroupPanel_DevGlp,
.dxGridView_gvCMShowGroupPanelDisabled_DevGlp,
.dxGridView_gvCMShowSearchPanel_DevGlp,
.dxGridView_gvCMShowSearchPanelDisabled_DevGlp,
.dxGridView_gvCMSortAscending_DevGlp,
.dxGridView_gvCMSortAscendingDisabled_DevGlp,
.dxGridView_gvCMSortDescending_DevGlp,
.dxGridView_gvCMSortDescendingDisabled_DevGlp,
.dxGridView_gvCMSummaryAverage_DevGlp,
.dxGridView_gvCMSummaryAverageDisabled_DevGlp,
.dxGridView_gvCMSummaryCount_DevGlp,
.dxGridView_gvCMSummaryCountDisabled_DevGlp,
.dxGridView_gvCMSummaryMax_DevGlp,
.dxGridView_gvCMSummaryMaxDisabled_DevGlp,
.dxGridView_gvCMSummaryMin_DevGlp,
.dxGridView_gvCMSummaryMinDisabled_DevGlp,
.dxGridView_gvCMSummarySum_DevGlp,
.dxGridView_gvCMSummarySumDisabled_DevGlp,
.dxGridView_gvCMUngroupColumn_DevGlp,
.dxGridView_gvCollapsedButton_DevGlp,
.dxGridView_gvCollapsedButtonRtl_DevGlp,
.dxGridView_gvDetailCollapsedButton_DevGlp,
.dxGridView_gvDetailCollapsedButtonRtl_DevGlp,
.dxGridView_gvDetailExpandedButton_DevGlp,
.dxGridView_gvDetailExpandedButtonRtl_DevGlp,
.dxGridView_gvDragAndDropArrowDown_DevGlp,
.dxGridView_gvDragAndDropArrowUp_DevGlp,
.dxGridView_gvDragAndDropHideColumn_DevGlp,
.dxGridView_gvExpandedButton_DevGlp,
.dxGridView_gvExpandedButtonRtl_DevGlp,
.dxGridView_gvFilterRowButton_DevGlp,
.dxGridView_gvFixedGroupRow_DevGlp,
.dxGridView_gvHeaderFilter_DevGlp,
.dxGridView_gvHeaderFilterActive_DevGlp,
.dxGridView_gvHeaderSortDown_DevGlp,
.dxGridView_gvHeaderSortUp_DevGlp,
.dxGridView_gvParentGroupRows_DevGlp,
.dxGridView_WindowResizer_DevGlp,
.dxGridView_WindowResizerRtl_DevGlp
{
    background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxGridView_gvCellError_DevGlp
{
    background-position: 0px -142px;
    width: 14px;
    height: 14px;
}
.dxGridView_gvCMClearFilter_DevGlp
{
    background-position: -93px 0px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMClearFilterDisabled_DevGlp
{
    background-position: -17px -91px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMClearGrouping_DevGlp
{
    background-position: -51px -23px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMClearGroupingDisabled_DevGlp
{
    background-position: -34px -74px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMCollapseDetailRow_DevGlp
{
    background-position: 0px -91px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMCollapseDetailRowDisabled_DevGlp
{
    background-position: -17px -74px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMCollapseRow_DevGlp
{
    background-position: -85px -57px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMCollapseRowDisabled_DevGlp
{
    background-position: 0px -40px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMDeleteRow_DevGlp
{
    background-position: -34px -57px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMDeleteRowDisabled_DevGlp
{
    background-position: -85px -108px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMEditRow_DevGlp
{
    background-position: -51px -74px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMEditRowDisabled_DevGlp
{
    background-position: -68px -74px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMExpandDetailRow_DevGlp
{
    background-position: 0px -74px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMExpandDetailRowDisabled_DevGlp
{
    background-position: -85px -40px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMExpandRow_DevGlp
{
    background-position: -34px -108px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMExpandRowDisabled_DevGlp
{
    background-position: -17px -108px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMFullCollapse_DevGlp
{
    background-position: 0px -57px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMFullCollapseDisabled_DevGlp
{
    background-position: -17px -125px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMFullExpand_DevGlp
{
    background-position: -68px -57px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMFullExpandDisabled_DevGlp
{
    background-position: -85px -91px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMGroupByColumn_DevGlp
{
    background-position: -17px -23px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMGroupByColumnDisabled_DevGlp
{
    background-position: 0px -108px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMNewRow_DevGlp
{
    background-position: -68px -108px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMNewRowDisabled_DevGlp
{
    background-position: -68px -23px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMRefresh_DevGlp
{
    background-position: -42px 0px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMRefreshDisabled_DevGlp
{
    background-position: -102px -57px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSearchPanel_DevGlp
{
    background-position: -102px -108px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSearchPanelDisabled_DevGlp
{
    background-position: -17px -40px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowCustomizationWindow_DevGlp
{
    background-position: -51px -40px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowCustomizationWindowDisabled_DevGlp
{
    background-position: 0px -23px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowFilterEditor_DevGlp
{
    background-position: -34px -125px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowFilterEditorDisabled_DevGlp
{
    background-position: -102px -74px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowGroupPanel_DevGlp
{
    background-position: -102px -23px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowGroupPanelDisabled_DevGlp
{
    background-position: -68px -125px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowSearchPanel_DevGlp
{
    background-position: -76px 0px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowSearchPanelDisabled_DevGlp
{
    background-position: -51px -57px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSortAscending_DevGlp
{
    background-position: -51px -125px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSortAscendingDisabled_DevGlp
{
    background-position: -34px -40px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSortDescending_DevGlp
{
    background-position: -34px -91px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSortDescendingDisabled_DevGlp
{
    background-position: -51px -91px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryAverage_DevGlp
{
    background-position: -34px -23px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryAverageDisabled_DevGlp
{
    background-position: 0px -125px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryCount_DevGlp
{
    background-position: -85px -74px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryCountDisabled_DevGlp
{
    background-position: -68px -91px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryMax_DevGlp
{
    background-position: -102px -91px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryMaxDisabled_DevGlp
{
    background-position: -59px 0px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryMin_DevGlp
{
    background-position: -51px -108px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryMinDisabled_DevGlp
{
    background-position: -17px -57px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummarySum_DevGlp
{
    background-position: -102px -40px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummarySumDisabled_DevGlp
{
    background-position: -85px -23px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMUngroupColumn_DevGlp
{
    background-position: -68px -40px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCollapsedButton_DevGlp
{
    background-position: -42px -157px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvCollapsedButtonRtl_DevGlp
{
    background-position: 0px -157px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvDetailCollapsedButton_DevGlp
{
    background-position: -90px -142px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvDetailCollapsedButtonRtl_DevGlp
{
    background-position: -14px -157px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvDetailExpandedButton_DevGlp
{
    background-position: -104px -142px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvDetailExpandedButtonRtl_DevGlp
{
    background-position: -34px -142px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvDragAndDropArrowDown_DevGlp
{
    background-position: -70px -157px;
    width: 11px;
    height: 9px;
}
.dxGridView_gvDragAndDropArrowUp_DevGlp
{
    background-position: -82px -157px;
    width: 11px;
    height: 9px;
}
.dxGridView_gvDragAndDropHideColumn_DevGlp
{
    background-position: 0px 0px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvExpandedButton_DevGlp
{
    background-position: -56px -157px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvExpandedButtonRtl_DevGlp
{
    background-position: -28px -157px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvFilterRowButton_DevGlp
{
    background-position: -62px -142px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvFixedGroupRow_DevGlp
{
    background-position: -23px 0px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvHeaderFilter_DevGlp
{
    background-position: -101px -125px;
    width: 15px;
    height: 15px;
}
.dxGridView_gvHeaderFilterActive_DevGlp
{
    background-position: -85px -125px;
    width: 15px;
    height: 15px;
}
.dxGridView_gvHeaderSortDown_DevGlp
{
    background-position: -110px 0px;
    width: 7px;
    height: 5px;
}
.dxGridView_gvHeaderSortUp_DevGlp
{
    background-position: -111px -17px;
    width: 7px;
    height: 5px;
}
.dxGridView_gvParentGroupRows_DevGlp
{
    background-position: -15px -142px;
    width: 18px;
    height: 13px;
}
.dxGridView_WindowResizer_DevGlp
{
    background-position: -48px -142px;
    width: 13px;
    height: 13px;
}
.dxGridView_WindowResizerRtl_DevGlp
{
    background-position: -76px -142px;
    width: 13px;
    height: 13px;
}

