<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <configSections>
    <sectionGroup name="devExpress">
      <section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v15.1, Version=15.1.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v15.1, Version=15.1.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v15.1, Version=15.1.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v15.1, Version=15.1.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.web>
    <sessionState cookieless="false" regenerateExpiredSessionId="true" timeout="30"/>
    <compilation targetFramework="4.0" debug="true">
      <assemblies>
        <add assembly="DevExpress.Web.v15.1, Version=15.1.9.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Data.v15.1, Version=15.1.9.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="DevExpress.Web.ASPxTreeList.v15.1, Version=15.1.9.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Printing.v15.1.Core, Version=15.1.9.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.ExpressApp.Web.v15.1, Version=15.1.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.ExpressApp.v15.1, Version=15.1.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Utils.v15.1, Version=15.1.9.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Persistent.Base.v15.1, Version=15.1.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.RichEdit.v15.1.Core, Version=15.1.9.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Web.ASPxThemes.v15.1, Version=15.1.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Web.ASPxPivotGrid.v15.1, Version=15.1.9.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.PivotGrid.v15.1.Core, Version=15.1.9.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Dashboard.v15.1.Web, Version=15.1.9.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Dashboard.v15.1.Core, Version=15.1.9.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.DataAccess.v15.1, Version=15.1.9.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Office.v15.1.Core, Version=15.1.9.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Charts.v15.1.Core, Version=15.1.9.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Xpo.v15.1, Version=15.1.9.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Sitio/persona/wfSalir.aspx" timeout="2880"/>
    </authentication>
    <httpModules>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v15.1, Version=15.1.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
      <add name="XafHttpModule" type="DevExpress.ExpressApp.Web.XafHttpModule, DevExpress.ExpressApp.Web.v15.1, Version=15.1.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
    </httpModules>
    <httpHandlers>
      <!--<add path="*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*"/>-->
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v15.1, Version=15.1.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" validate="false"/>
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v15.1, Version=15.1.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" validate="false"/>
      <add verb="*" path="DXX.axd" type="DevExpress.ExpressApp.Web.XafHttpHandler, DevExpress.ExpressApp.Web.v15.1, Version=15.1.9.0, culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
    </httpHandlers>
    <!--PARA PERMITIR ARCHIVOS GRANDES-->
    <httpRuntime executionTimeout="4000000" maxRequestLength="4000000" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="HydroCoreSesionEndPoint">
          <security mode="Transport"/>
        </binding>
        <binding name="OctanoCantidadesListadoEndPoint" maxReceivedMessageSize="524288">
          <security mode="Transport"/>
        </binding>
        <binding name="HydroCoreListadosEndPoint" maxBufferSize="524288" maxReceivedMessageSize="524288">
          <security mode="Transport"/>
        </binding>
        <binding name="OctanoListadosCalidadEndPoint">
          <security mode="Transport"/>
        </binding>
        <binding name="OctanoCantidadesReporteEndPoint" maxReceivedMessageSize="524288">
          <security mode="Transport"/>
        </binding>
        <binding name="OctanoCantidadesGestionEndPoint">
          <security mode="Transport"/>
        </binding>
        <binding name="OctanoGestionCalidadEndPoint" maxReceivedMessageSize="524288">
          <security mode="Transport"/>
        </binding>
        <binding name="HydroCoreConsultasEndPoint" maxBufferSize="524288" maxReceivedMessageSize="524288">
          <security mode="Transport"/>
        </binding>
        <binding name="HydroParametricasEndPoint">
          <security mode="Transport"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://vsrvuid006.anh.gob.bo:8443/WSCore/ServicioHydroSesion.svc" binding="basicHttpBinding" bindingConfiguration="HydroCoreSesionEndPoint" contract="ServicioHydroSesion.IServicioHydroSesion" name="HydroCoreSesionEndPoint"/>
      <endpoint address="https://vsrvuid006.anh.gob.bo:8443/WSOctano/ServicioCantidadesListado.svc" binding="basicHttpBinding" bindingConfiguration="OctanoCantidadesListadoEndPoint" contract="ServicioCantidadesListado.IServicioCantidadesListado" name="OctanoCantidadesListadoEndPoint"/>
      <endpoint address="https://vsrvuid006.anh.gob.bo:8443/WSCore/ServicioHydroListados.svc" binding="basicHttpBinding" bindingConfiguration="HydroCoreListadosEndPoint" contract="ServicioHydroListados.IServicioHydroListados" name="HydroCoreListadosEndPoint"/>
      <endpoint address="https://vsrvuid006.anh.gob.bo:8443/WSOctano/ServicioListadosCalidad.svc" binding="basicHttpBinding" bindingConfiguration="OctanoListadosCalidadEndPoint" contract="ServicioListadosCalidad.IServicioListadosCalidad" name="OctanoListadosCalidadEndPoint"/>
      <endpoint address="https://vsrvuid006.anh.gob.bo:8443/WSOctano/ServicioCantidadesReporte.svc" binding="basicHttpBinding" bindingConfiguration="OctanoCantidadesReporteEndPoint" contract="ServicioCantidadesReporte.IServicioCantidadesReporte" name="OctanoCantidadesReporteEndPoint"/>
      <endpoint address="https://vsrvuid006.anh.gob.bo:8443/WSOctano/ServicioCantidadesGestion.svc" binding="basicHttpBinding" bindingConfiguration="OctanoCantidadesGestionEndPoint" contract="ServicioCantidadesGestion.IServicioCantidadesGestion" name="OctanoCantidadesGestionEndPoint"/>
      <endpoint address="https://vsrvuid006.anh.gob.bo:8443/WSOctano/ServicioGestionCalidad.svc" binding="basicHttpBinding" bindingConfiguration="OctanoGestionCalidadEndPoint" contract="ServicioGestionCalidad.IServicioGestionCalidad" name="OctanoGestionCalidadEndPoint"/>
      <endpoint address="https://vsrvuid006.anh.gob.bo:8443/WSCore/ServicioHydroConsultas.svc" binding="basicHttpBinding" bindingConfiguration="HydroCoreConsultasEndPoint" contract="ServicioConsultasHydro.IServicioHydroConsultas" name="HydroCoreConsultasEndPoint"/>
      <endpoint address="https://vsrvuid006.anh.gob.bo:8443/WSParametricas/ServicioParametricas.svc" binding="basicHttpBinding" bindingConfiguration="HydroParametricasEndPoint" contract="ServicioParametricas.IServicioParametricas" name="HydroParametricasEndPoint"/>
    </client>
  </system.serviceModel>


  <!--<system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add path="*" name="ServiceStack.Factory" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true"/>
    </handlers>
  </system.webServer>-->
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="ServicioJson" value="https://vsrvuid006.anh.gob.bo:8443/WSOctanov2"/>
    <!--<add key="ServicioJson" value="http://localhost:60478"/>-->
    <!--<add key="ServicioJson" value="https://vsrvuid006.anh.gob.bo:8443/WSOctanov2"/>-->
    <add key="IdFuncionarioAnh" value="63"/>
    <!-- ******** SERVICIOS DE OCTANO VOLUMENES GESTION DE USUARIOS EXTERNOS ************ -->
    <!--GENERALES-->
    <add key="IdFuncionario" value="63"/>
    <add key="svc_obtener_entidades" value="/obtiene_entidades_usuario"/>
    <!--DE TIPOS DE OPERACION-->
    <add key="svc_obtener_tipos_operacion_act" value="/obtener_tipos_operacion_act" />
    <!--ENTIDADES RELACIONADOS A LA ACTIVIDAD (OCTANO VOLUMENES)-->
    <add key="svc_listar_autorizacion_condicion" value="/listar_autorizacion_condicion" />
    <!--SERVICIOS OCTANO-->
    <add key="ServicioOctanoVolumenes" value="https://vsrvuid006.anh.gob.bo:8443/WSOctanoVolumenes"/>
    <!--TEST-->
    <!--<add key="ServicioOctanoVolumenes" value="https://vsrvuid006.anh.gob.bo:8443/WSOctanoVolumenes"/>-->
    <!--DESARROLLO-->
    <!--SERVICIOS ADMINISTRADOR HYDRO-->
    <add key="ServicioAdministradorHydro" value="https://vsrvuid006.anh.gob.bo:8443/WSAdministradorHydro/"/>
    <add key="svc_WSAdministrador_EAsignaUsuarioGrupo" value="/WSAdministrador/EAsignaUsuarioGrupo"/>
    <add key="svc_registra_usuario_entidad_general" value="/registra_usuario_entidad_general"/>
    <add key="svc_WSAdministrador_ListaPerfiles" value="/WSAdministrador/ListaPerfiles"/>
    <add key="svc_listar_usuarios_entidad" value="/listar_usuarios_entidad"/>
    <add key="ServicioJsonSirh" value="https://vsrvuid006.anh.gob.bo:8443/WSRecursosHumanos/"/>
    <!--Produccion apuntar a produccion-->
    <add key="UrlRaiz" value="https://hydro.anh.gob.bo/"/>
    <!-- ******** FIN GESTION USUARIOS EXTERNOS  *****************************************-->
    <!--Para DESARROLLO-->
    <add key="idAplicacion" value="63"/>
    <add key="IdActividades" value="5|36|19"/>
    <!--<add key="IdFuncionarioAnh" value="126"/>-->
    <add key="IdRegulado" value="2"/>
    <add key="IdPerfilAdministradorHydro" value="255"/>
    <!--<add key="IdTipoActividad" value="30"/>-->
    <add key="LinkCrearCuenta" value="https://hydro.anh.gob.bo/Sitio/Persona/wfSolicitarCuenta.aspx"/>
    <add key="LinkSireHydro" value="https://hydro.anh.gob.bo/"/>
    <!--Id Tipo Actividad-->
    <add key="idImportadores" value="36"/>
    <add key="idTerminalesAlmacenaje" value="5"/>
    <add key="idIndustrializacion" value="20"/>
    <add key="idRefinacion" value="19"/>
    <add key="idProcGasNatEnCampo" value="31"/>
    <add key="idAeropuerto" value="50"/>
    <add key="idMayorista" value="16"/>
    <add key="idPSLs" value="52"/>
    <!--Id organigrama-->
    <!--<add key="idImportadores" value="94"/>
    <add key="idTerminalesAlmacenaje" value="95"/>
    <add key="idIndustrializacion" value="46"/>
    <add key="idRefinacion" value="125"/>
    <add key="idProcGasNatEnCampo" value="27"/>
    <add key="idAeropuerto" value="13"/>-->
    <!--Identificador para el punto/coma-->
    <!-- DES / TES / PRO -->
    <add key="idEntorno" value="TES"/>
    <!--Fecha para cambio de logo-->
    <add key="fechaIso2015" value="13/11/2017"/>
    <!--INFRAESTRUCTURA-->
    <add key="UrlWSInfraestructura" value="https://vsrvuid006.anh.gob.bo:8443/WSOctanoInfraestructura/"/>
    <!--APUNTAR AL SERVICIO DE SEGURIDAD-->
    <add key="ServicioJsonSeguridad" value="https://vsrvuid006.anh.gob.bo:8443/WSSeguridad"/>
    <!--DEFINE LOS TIPOS DE LOGS QUE SE GUARDARAN (DEBUG,INFO,ERROR,WARN) PUEDE SER MAS DE UNO-->
    <add key="accionTraza" value="INFO,ERROR,DEBUG,WARN"/>
    <!--DEFINE A QUIENES SE NOTIFICARAN CON CORREOS SA:SUPER ADMINISTRADOR; ADMIN: 
    ADMINISTRADOR DE MÓDULO, RESP: RESPONSABLE DE SISTEMA (GESTIÓN DE USUARIOS) -->
    <add key="notificarCorreo" value="SA,ADMIN"/>
    <!--RUTA DEL DIRECTORIO DONDE SE VA A GUARDAR EL ARCHIVO DE LOG-->
    <add key="rutaArchivoTraza" value="D:\LOGS\SRH"/>
    <!--DEFINIR NOMBRE Y EXTENSION DEL ARCHIVO-->
    <add key="nombreArchivoTraza" value="logsSRH.txt"/>
    <!--DEFINIR TAMAÑO MAXIMO DE CADA ARCHIVO-->
    <add key="tamanioArchivo" value="5"/>
  </appSettings>
  <system.webServer>
    <modules>
      <remove name="ASPxHttpHandlerModule"/>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v15.1, Version=15.1.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
      <add name="XafHttpModule" type="DevExpress.ExpressApp.Web.XafHttpModule, DevExpress.ExpressApp.Web.v15.1, Version=15.1.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
    </modules>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ASPxHttpHandlerModule"/>
      <remove name="ASPxUploadProgressHandler"/>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v15.1, Version=15.1.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode"/>
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v15.1, Version=15.1.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler" preCondition="integratedMode"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
      <add name="XafHttpHandler" preCondition="integratedMode" verb="*" path="DXX.axd" type="DevExpress.ExpressApp.Web.XafHttpHandler, DevExpress.ExpressApp.Web.v15.1, Version=15.1.9.0, culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
    </handlers>
  </system.webServer>
  <devExpress>

    <themes enableThemesAssembly="true" styleSheetTheme="" theme="" customThemeAssemblies=""/>
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true"/>
    <settings rightToLeft="false" doctypeMode="Xhtml" embedRequiredClientLibraries="true" ieCompatibilityVersion="edge"/>
    <errors callbackErrorRedirectUrl=""/>

  </devExpress>
</configuration>
