<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="HydroCoreSesionEndPoint" maxBufferSize="524288"
          maxReceivedMessageSize="524288">
          <security mode="Transport" />
        </binding>
        <binding name="HydroCoreListadosEndPoint" maxReceivedMessageSize="524288">
          <security mode="Transport" />
        </binding>
        <binding name="HydroCoreConsultasEndPoint" maxReceivedMessageSize="524288">
          <security mode="Transport" />
        </binding>
        <binding name="HydroCoreSesionEndPoint1">
          <security mode="Transport" />
        </binding>
        <binding name="HydroParametricasEndPoint">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>


    <client>
      <endpoint address="https://vsrvuid004.anh.gob.bo:7443/WSCore/ServicioHydroSesion.svc"
        binding="basicHttpBinding" bindingConfiguration="HydroCoreSesionEndPoint"
        contract="ServicioAutenticarUsuario.IServicioHydroSesion" name="HydroCoreSesionEndPoint" />
      <endpoint address="https://vsrvuid004.anh.gob.bo:7443/WSCore/ServicioHydroListados.svc"
        binding="basicHttpBinding" bindingConfiguration="HydroCoreListadosEndPoint"
        contract="ServicioHydroListados.IServicioHydroListados" name="HydroCoreListadosEndPoint" />
      <endpoint address="https://vsrvuid004.anh.gob.bo:7443/WSCore/ServicioHydroConsultas.svc"
        binding="basicHttpBinding" bindingConfiguration="HydroCoreConsultasEndPoint"
        contract="ServicioConsultasHydro.IServicioHydroConsultas" name="HydroCoreConsultasEndPoint" />
      <endpoint address="https://vsrvuid013.anh.gob.bo:7443/WSParametricas/ServicioParametricas.svc"
        binding="basicHttpBinding" bindingConfiguration="HydroParametricasEndPoint"
        contract="ServicioParametricas.IServicioParametricas" name="HydroParametricasEndPoint" />
      <endpoint address="https://vsrvuid013.anh.gob.bo:7443/WSCore/ServicioHydroSesion.svc"
        binding="basicHttpBinding" bindingConfiguration="HydroCoreSesionEndPoint1"
        contract="ServicioHydroSesion.IServicioHydroSesion" name="HydroCoreSesionEndPoint1" />
    </client>

  </system.serviceModel>
</configuration>